[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/johnhues/imgui.git
	branch = cmake
[submodule "deps/ImGuizmo"]
	path = deps/ImGuizmo
	url = https://github.com/johnhues/ImGuizmo.git
	branch = cmake
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "deps/aether-game-utils"]
	path = deps/aether-game-utils
	url = https://github.com/johnhues/aether-game-utils.git
	branch = master
