[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/johnhues/imgui.git
	branch = cmake
[submodule "deps/ImGuizmo"]
	path = deps/ImGuizmo
	url = https://github.com/johnhues/ImGuizmo.git
	branch = cmake
[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/Tencent/rapidjson.git
